<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="description" content="spring-boot thymeleaf | home ">
    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" href="/css/profileCard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="row">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <table class="table table-bordered  table-striped table-responsive">
                                <thead>
                                <tr class="btn-info">
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>User ID</th>
                                    <th>User Name</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(allTaskreg)}" class="btn-default">
                                    <td colspan="5" align="center">No Course Registered Yet!!!</td>
                                </tr>
                                <tr th:each="task : ${allTaskreg}">
                                    
                                    <td th:text="${task.course_id}"></td>
                                    <td th:each="taskorig : ${allTask}" th:if="${task.course_id == taskorig.id}" th:text="${taskorig.taskName}"></td>
                                    <td th:text="${task.user_id}"></td>
                                    <td th:text="${task.username}"></td>
                                    <td th:hidden="${task.id}"></td>
                                    
                                    <!--start send to trash modal-->
                                    <div class="modal modal-toTrash" th:id="modal-toTrash+${task.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">×
                                                    </button>
                                                    <h3 id="myModalLabel">Register Confirmation</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="error-text"><strong>Are you sure you want to
                                                        register for this course?</strong></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn " data-dismiss="modal" aria-hidden="true">
                                                        Cancel
                                                    </button>
                                                    <a th:href="@{/task/trash/{id}(id=${task.id})}">
                                                        <span class="btn btn-danger" value="delete">Register</span></a>

                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!--end send to trash modal-->
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

</body>
</html>